:root {
    --main-color: 	rgb(15, 68, 13);
    --background-color: 	rgb(245, 240, 225);
  }

@media (max-width: 1080px) {
    .nav-links {
        z-index: 1;
    }

    .nav-links .hide-inSmartphone {
        display: none;
    }

    header .sidebar {
        z-index: -1;
    }

    .nav-logo {
        min-width: 150px;
        height: auto;
        position: absolute;
        top: -25px;
        left: 50px;
    }

    .sidebar-button {
        display: block;
    }

    #line1{
        min-width: 400px;
        margin-top: 8px;
    }

}


@media (max-width: 1470px) {
    .content-2 {
        margin-left: 80vw;
    }
}

@media (max-width: 1420px) {
    .page2-button {
        left: 58%;
    }
}

@media (max-width: 1255px) {

    .slide-images {
        padding: 0 .5%;
    }

    .slide #im2,
    .slide #im3,
    .slide #im4 {
        margin-left: -5px;
    }

    .slide .slide-text {
        margin-top: 1%;
    }

    .slide-text h1 {
        font-size: 2.8vw;
    }

    .slide-text p {
        font-size: 2.8vw;
        font-size: 1.3vw;
    }

}

@media (max-width: 975px) {
    .slide .slide-text {
        transform: translateY(55px);
        width: 200px;
        height: 300px;
    }

    .slide-text h1 {
        font-size: 2.3vw;
    }
}

@media (max-width: 870px) {

    .content-2 {
        width: 280px;
    }

    .content-2 h1 {
        font-size: 50px;
    }

    .content-2 h2 {
        font-size: 13px;
        margin-left: 127px;
    }

    .content-2 p {
        font-size: 15px;
        letter-spacing: 2px;
        text-align: justify;
    }

    .page2-button {
        width: 200px;
        height: 45px;
    }

    .page2-button #arrow {
        font-size: 20px;
    }
}

@media (max-width: 657px) {
    .long-image {
        max-width: 30vw;
        height: 80%;
    }
    #line1{
        min-width: 70vw;
    }
    .content p{
        width: 40vw;
    }
}

@media (max-width: 657px) and (max-height: 608px) {
    .long-image {
        max-width: 30vw;
        height: 100%;
        top: 210px;
    }
}


@media (max-width: 435px) {

    .loading-screen .loading-image {
        width: 50%;
        height: 50%;
      }

    .nav-logo {
        left: 25px;
    }

    .order-button {
        width: 71%;
        height: 100%;
    }

    .sidebar-button {
        width: 150px;
        height: 36px;
        border: 2px solid white;
        position: relative;
    }

    #order-btn-p {
        font-size: 6px;
    }

    .sidebar-button img {
        position: absolute;
        width: 23px;
        height: 23px;
        right: 7%;
        top: 5px;
    }

    .nav-logo {
        min-width: 100px;
        top: 0
    }

    .smartphone-sidebar{
        padding: 70px 0 0 30px;
    }
    
    .smartphone-sidebar li a{
        font-size: 10px;
    }

    .content h1:nth-child(1){
        font-size: 10vw;
    }
    .content h1:nth-child(2){
        font-size: 12vw;
    }

    .content p{
        color: white;
        margin-top: 5px;
        font-family: "Arimo", sans-serif;
        letter-spacing: 5px;
        font-size: 8px;
    }

    .page2{
        margin-top: 0;
        perspective: 0;
    }

    .long-image {
        display: none;
    }

    .content-2{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 10vw;
        width: 355.5px;
        top: 150px;
        flex-wrap: wrap;
        transform: translateZ(0) scale(1);
    }

    .content-2 p{
        font-family: "Arimo", sans-serif;
        color: var(--main-color);
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 2px;
        width: 78%;
    }

    #line-2{
        margin-top: 10px;
        width: 76%;
    }

    .page2-button{
        top:450px;
        left: 40%;
        width: 180px;
    }

    .page2-button a{
        font-size: 8px;
    }
    
    .page3{
        margin-top: -30vw;
    }

    .project-header{
        width: 90%;
    }   

    .project-header h1{
        color: var(--main-color);
        font-family: "Arimo", sans-serif;
        letter-spacing: 5px;
        font-size: 9vw;
        display: flex;
        align-items: center;
    }

    .project-header h1:nth-child(2){
        margin-left: 15px;
        height: 8.5vw;
    }

    .project-header p{
        color: var(--main-color);
        font-family: "Arimo", sans-serif;
        letter-spacing: 5px;
        margin-top: 10px;
        font-size: 4vw;
    }


    .highlight-container {
        width: 96vw;
        height: 78vh;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
        align-items: center;
        background-color: white;
        margin-top: 50px;
        animation: getBigger ease-in-out both;
        animation-timeline: view();
        animation-range: cover 0 cover 40%;
        scroll-behavior: smooth;
        gap: 16px; 
        padding: 10px; 
    }
    
    .highlight-container div {
        flex: 0 0 auto;
        width: 120%;
        height: 90%;
        overflow: hidden;
    } 

    .picture-slider{
        margin-top: 80px;
        padding: 0;
        overflow: hidden;
        width: 100vw;
    }


    .slide-images img{
        min-width: 100px;
    }
    .slide #im1{
        margin-top: 2%;
        margin-left: 0;
        z-index: 3;
    }
    
    .slide #im2{
        margin-top: -5%;
        margin-left: -5%;
        z-index: 2;
    }
    
    .slide #im3{
        margin-top: 10%;
        margin-left: -6%;
        z-index: 1;
    }
    .slide #im4{
        margin-top: 3%;
        margin-left: -4%;
    }
    .slide .slide-text{
        width: 50vw;
        margin-top: -1%;
        margin-left: -2%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .slide-text h1{
        font-size: 5vw;
    }
    .slide-text p{
        font-size: 3.5vw;
        width: 40vw;
    }
    .next-btn {
        display: none;
    }

    #swipe{
        display: block;
        color: var(--main-color);
    }
    #swipe img{
        width: 30px;
        height: 30px;
        margin-left: 2vw;
        color: var(--main-color);
    }

    .page4{
        height: 108vh;
    }

    .highlight-text h1{
        font-size: 9vw;
    }
    .highlight-text p{
        font-size: 5vw;
    }

    @keyframes fade {
        from{
            opacity: .4;
            transform: translateX(-10vw) translateY(10vw);
        }
        to{
            opacity: 1;
            transform: translateX(0) translateY(0);
            ;
        }
    }

}

@media (max-width: 376px) {
   
}