:root {
  --main-color: rgba(5, 68, 13, 1);
}

.partner {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  display: none;
  justify-content: center;
  align-items: center;
}

.partner-logo {
  width: 80%;
  height: 80%;
  margin-top: 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  place-items: center;
}

.logos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos img{
  object-fit: contain;
  object-position: center;
  width: 80%;
  height: 80%;
}

.partner::-webkit-scrollbar {
  width: 5px;
}

.partner::-webkit-scrollbar-track {
  background: var(--main-color);
}

.partner::-webkit-scrollbar-thumb {
  background: rgb(70, 114, 75);
  border-radius: 6px;
}

@media (max-width: 430px) {
  .partner{
    width: 23%;
  }
}

